[submodule "tmux-plugins/tpm"]
	path = dot_config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "private_Library/private_Application Support/nushell/nu_scripts"]
	path = private_Library/private_Application Support/nushell/nu_scripts
	url = https://github.com/nushell/nu_scripts
[submodule "private_Library/private_Application Support/nushell/nushell-config"]
	path = private_Library/private_Application Support/nushell/nushell-config
	url = https://github.com/drbrain/nushell-config
